* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	width: 75%;
	margin: auto;
	padding: 1.5em;
	border: orange groove .33em;

}

img {
	width: 100%;
	box-shadow: 0em 0em 3em 0em #800000;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 1em;

}

article p::first-letter {
	font-size: 200%;
	font-style: italic;
}

h1 {
	font-size: 3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-top: .5em;
	text-align: center;
}

.fancy {
	color: #800000;
	font-family: 'Great Vibes', cursive;
}
footer {
	font-size: .75em;
	margin-top: 3em;
}

footer p {
	margin: 0;
	font-style: italic;
}

#email {
	text-decoration: none;
}